body {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(
            to bottom,
            rgba(163, 86, 255, 0.52),
            rgba(115, 67, 254, 0.73)
        ),
        url(../img/bg-login.jpg);
    background-size: cover;
    background-position: center center;
    color: #45046a;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-login {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper-login .heading {
    text-align: center;
    padding: 25px 0;
}
.wrapper-login .heading h1 {
    font-size: 22px;
    font-weight: 700;
}
.wrapper-login .heading h2 {
    font-size: 14px;
    font-weight: 400;
}
.wrapper-login form {
    text-align: center;
    color: #45046a;
}
.wrapper-login form .form-group {
    position: relative;
}
.wrapper-login form .form-group input {
    color: #45046a;
    font-size: 14px;
    box-shadow: none;
    outline: none;
    border: 2px solid #45046a;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 50px 5px 15px;
}
.wrapper-login form .form-group input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #45046a;
    height: 50px;
}
.wrapper-login form .form-group .fa {
    position: absolute;
    right: 20px;
    line-height: 50px;
    top: 0;
    width: 15px;
}
.wrapper-login form button {
    background-color: #45046a;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: #e2d3fc;
    font-size: 18px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.wrapper-login form button:hover {
    color: #fff;
}
@media (min-width: 992px) {
    .wrapper-login {
        width: 400px;
        height: 350px;
    }
}
@media (max-width: 575.98px) {
    .wrapper-login {
        width: 300px;
        height: 400px;
    }
    .wrapper-login .heading {
        padding: 20px 0;
    }
}
